* {
    margin: 0;
    padding: 0;
  }

:root {
    --sidebar-color: rgb(11, 139, 224);
    --bg-color-main: rgb(224, 224, 224);
    --bg-color-text: #ffffff;
    --text-size: calc(10px + 0.5vw);
    --heading-fs: calc(12px + 0.6vw);
    --image-size: calc(20px + 1vw);
    --heading-fw: 600;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(280px, 1fr) 7fr;
}

.container div {
    font-family: roboto, arial, sans-serif;
    font-size: var(--text-size);
  }

svg {
    width: var(--heading-fs);
    height: auto;
}

ul {
    list-style: none;
}

/* sidebar */
.sidebar {
    background-color: var(--sidebar-color);
    color: var(--bg-color-text);
    display: grid;
    grid-template-rows: 1fr 3fr 6fr;
    align-content: start;
    padding: 20px;
}


.sidebar ul {
    font-size: var(--heading-fs);
    font-weight: var(--heading-fw);
    display: grid;
    gap: 15px;
}

.sidebar li {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    gap: 10px;
}

.sidebar svg {
    fill: var(--bg-color-text);
    justify-self: center;
}

.sidebar .logo {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-content: start;
    align-items: center;
    gap: 10px;
}

.sidebar .logo svg {
    width: 50px;
    justify-self: center;
}

/* content - right column */
.content {
    display: grid;
    grid-template-rows: minmax(180px,1fr) 6fr;
}

.content img {
    width: var(--image-size);
    height: auto;
    border-radius: 50%;
}

/* content header */
.header {
    background-color: var(--bg-color-text);
    font-weight: var(--heading-fw);
    position: relative; /* To show the box-shadow it needs to be positioned */
    box-shadow: 0px 8px 6px -2px rgba(105, 105, 105, 0.5);
    padding: 5px 30px;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.header .top {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    gap: 15px;
    align-items: center;
}

.searchbar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.searchfield {
    min-width: 200px;
    flex-grow: 1;
}

.searchbar input {
    width: 80%;
    padding: 5px;
    background-color: var(--bg-color-main);
    border-radius: 15px;
    height: var(--heading-fs);
    border-style: none;
}


.header .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .bottom .left {
    display: flex;
    gap: 15px;
    align-items: center;
}

.header .bottom img {
    width: 65px;
}

.header .bottom .greeting {
    font-weight: var(--heading-fw);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.greeting :not(:first-child){
    font-size: 25px;
}

.header button {
    background-color: var(--sidebar-color);
    color: var(--bg-color-text);
    font-size: var(--text-size);
    font-weight: var(--heading-fw);
    border-radius: 20px;
    padding: 8px 24px;
    margin-left: 10px;
    border-style: none;
}

/* Main content */

.main-content {
    background-color: var(--bg-color-main);
    display: grid;
    grid-template-columns: 2fr 2fr minmax(220px, 0.5fr);
    grid-template-rows: 0.3fr 2fr 1fr 1fr 2fr;
    padding: 20px;
    gap: 20px;
    /* align-content: center; */
    justify-content: center;
}

.header-first {
    grid-column: 1 / 3;
}

.box1 {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    margin-bottom: 10px;
}

.card.third, 
.card.fourth {
    grid-row: 3 / 5;
}

.box2 {
    grid-row: 4 / 6;
    display: grid;
    grid-template-rows: 1fr 8fr;
}

.main-content h1 {
    font-size: 22px;
    align-self: center;
}

.main-content h2 {
    font-size: 18px;
    padding-bottom: 6px;
}

.main-content h3 {
    font-size: 12px;
}

.main-content p {
    color: rgb(153, 152, 152);
}

.trend-items p,
.announcements p {
    font-size:10px;
    padding-top: 5px;
}

.box1,
.card,
.trend-items {
    display: grid;
    background-color: var(--bg-color-text);
    padding: 25px 20px;
    border-radius: 10px;
    box-shadow: 6px 6px 8px -2px rgba(105, 105, 105, 0.5);
}

.card .icons {
    display: grid;
    grid-auto-flow: column;
    gap: 15px;
    justify-content: end;
    align-items: end;
    padding: 20px;
}

.card {
    border-left: 8px solid rgb(241, 225, 150);
}

.box2 {
    display: grid;
}

.box1 > div:nth-child(2) {
    border-bottom: 1px solid var(--bg-color-main);
    border-top: 1px solid var(--bg-color-main);
}

.announcements {
    align-content: center;
}

.box2 h1 {
    align-self: start;
}

.trend-items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    gap: 10px;
}

.trend-items > div:not(:last-child) {
    display: flex;
    gap: 15px;
}

.trend-items a {
    text-decoration: none;
}




