* {
    margin: 0;
    padding: 0;
  }

:root {
    --sidebar-color: rgb(11, 139, 224);
    --bg-color-main: rgb(219, 215, 215);
    --bg-color-text: #ffffff;
    --heading-fs: calc(12px + 1vw);
    --heading-fw: 600;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(280px,1fr) 7fr;
}

.container div {
    font-family: roboto, arial, sans-serif;
  }

/* sidebar */
.sidebar {
    background-color: var(--sidebar-color);
    color: #ffffff;
    display: grid;
    grid-template-rows: 1fr 3fr 6fr;
    align-content: start;
    padding: 20px;
}


.sidebar ul {
    list-style: none;
    font-size: var(--heading-fs);
    font-weight: var(--heading-fw);
    display: grid;
    gap: 15px;
}

.sidebar li {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 10px;
}

.sidebar svg {
    width: var(--heading-fs);
    height: auto;
    fill: var(--bg-color-text);
    justify-self: center;
}

.sidebar .logo {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-content: start;
    align-items: center;
    gap: 10px;
}

.sidebar .logo svg {
    width: 50px;
    justify-self: center;
}

/* content - right column */
.content {
    display: grid;
    grid-template-rows: minmax(180px,1fr) 6fr;
}

.header {
    background-color: var(--bg-color-text);
}

.main-content {
    background-color: var(--bg-color-main);
}